@charset "utf-8";
/*layout*/

/*header*/
.header { position: absolute; left:0; width: 100%; transition:top .8s ease-in-out;  height: 80px; z-index:3;}
.header .logo {display:inline-block;}
.header .logo a { text-indent: -99999px; display: block; background:url("/portfolio2020/resources/img/w_logo.png") no-repeat; background-size: cover; width:60px; height:56px;}

.header > .gnb {}
.header > .gnb ul {display: inline-block;}
.header > .gnb ul li {font-size:20px; margin-left:60px;}
.header > .gnb ul li a { font-weight: 600; font-family: 'play';}



@media screen and (max-width:1100px){

}


@media screen and (max-width:768px){

}







