@charset "utf-8";
/*layout*/

/*header*/
.header { position: fixed; left:0; width: 100%; transition:top .8s ease-in-out; top:80px;  z-index:3; box-sizing: border-box; padding: 0 5vh;}
.header.scroll { top:30px;}
.header .logo {display:inline-block;}
.header .logo a { text-indent: -99999px; display: block; background:url("../../resources/img/w_logo.png") no-repeat; background-size: cover; width:60px; height:56px;}

.header.black .logo a { background-image:url("../../resources/img/logo.png")}


.header > .gnb {float:right; margin-right:135px;}
.header > .gnb ul {}
.header > .gnb ul li {display: inline-block; font-size:20px; margin-left:60px;}
.header > .gnb ul li a { transition: .3s ease; font-weight: 600; font-family: 'play';}
.header > .gnb ul li a:hover {color:#e51b23;}

.hammenu {font-size: 0; line-height: 100%; position: absolute; width: 27px; right: 5vh; display: inline-block; background: none; border: none;}
.hammenu .txt {font-size: 0; position: absolute;}
.hammenu i { transition: .3s ease; display: inline-block; width: 100%; height: 2px; background: #000; margin-top: 7px;}
.hammenu i.first { margin-top: 0; float: right; width: 20px;}
.hammenu i.last {float: left; width: 20px;}
.hammenu:hover i { width: 100%;}

@media screen and (max-width:1100px){

}


@media screen and (max-width:768px){

}







