@charset "utf-8";
/*layout*/

/*header*/
.header { position: absolute; left:0; width: 100%;top:-80px; transition:top .8s ease-in-out;  height: 80px; z-index:3;}
.header .logo { position: absolute; left:38px;     top: 50%;transform: translateY(-50%);}
.header .logo a { text-indent: -99999px; display: block; background:url("/resources/img/logo.png") no-repeat; background-size: cover; width:60px; height:65px;}


@media screen and (max-width:1100px){

}


@media screen and (max-width:768px){

}







