@charset "utf-8";
/*main*/

/*visual*/
.main_vis { height:100vh; position: relative; max-height: 960px;}
.left_bg { width:60%; height: 100%; background-color: #000; display: block; transition: .3s ease;}
.main_swiper { position:absolute; bottom:0; left:55%; transform:translateX(-50%); max-width: 1180px; width: 100%;}
.main_swiper .swiper-slide { width: 100%; height:760px; background: url('/portfolio2020/resources/img/main/main_vis.jpg') no-repeat center; background-size: cover;}
.main_swiper .vis2 { background: url('/portfolio2020/resources/img/main/main_vis2.jpg') no-repeat center; background-size: cover;}
.main_vis .vis_txt { left:15%; position:absolute; bottom:125px; z-index:1; }
.main_vis .vis_txt .tit { letter-spacing: -1px; font-family: 'play'; font-weight: 600; font-size: 55px; color: #fff; font-style: italic; text-decoration: underline;}
.main_vis .vis_txt .txt { font-size: 20px; margin: 70px 0 20px; color: #fff;}
.main_vis .vis_txt .name { color:#fff; font-size: 20px;}



@keyframes zoomIn00 {
    from{
        transform: scale(1.15);
        }
    to{
        transform: scale(1);
           }
    }
    


@media screen and (max-width:1100px){
    

}

@media screen and (max-width:768px) {


}